/* @import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,800&display=swap');
html {
  padding: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.bg-one {
  background-color: #f8f9f9;
}

/** NAVBAR **/
#header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#navbar #navbar-menu .nav-item {

}

#navbar #navbar-menu .nav-item  a {
  color: #444;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  width: 120px;

}
#navbar .dropdown-menu {
  border: none !important;
  margin-left: -5px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

#navbar .dropdown-item {
  font-weight: 500 !important;
  text-align: left !important;

}

#navbar a.dropdown-item:hover {
  background-color: transparent !important;
}

#navbar #navbar-menu a:hover {
  /* color: #ADD0FB;
   */
   color: #CCC;
}

#navbar #navbar-menu #sac {
  font-weight: 600;
  color: #e22;
  border:2px solid #e22;
  border-radius: 40px;
  letter-spacing: 1px;
  margin-top: -5px;
  width: 200px;
}

#navbar .dropdown:hover .dropdown-menu {
    display: block;
}

/** INTRO **/

#slider {
  padding: 0 !important;
}

#carousel .carousel-item {
  height: 60vh;
  background-size: cover !important;
  background-position: 40% 50% !important;
}

#legenda {
  position: relative;
  bottom: 1;
  top: 0;
  padding-top: 20px;
  color: #eee;
  background-color: #d11;
}

#legenda h4 {
  font-weight: 700;
}

#legenda p {
  font-weight: 500;
}

/** SOBRE **/

#sobre {
  padding: 100px 0;
}

/** SETORES **/

#setores {
  padding: 40px 0;
}

.titulo {
  margin: 50px 0;
}

.heading {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.heading strong {
  font-family: inherit;
  font-weight: 700;
}

.setores-bloco {
  display: block;
  text-decoration: none;
  background-color: #fff;
  color: #222;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 10px;
}

.setores-bloco:hover {
  text-decoration: none;
  color: #444;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.setores-bloco img {
  height: 200px;
}
/** OFERTAS **/

#ofertas {
  margin-top: 50px;
  padding: 40px 0;
}


/** UNIDADE **/

#unidades {
  margin-top: 50px;
  padding: 40px 0;
}

.unidade {
    margin-top: 10px;
    display:block;
    text-decoration:none;
    color: #222;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
.unidade:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}


/** CONTATO **/

#contato {
  padding: 40px 0;
}

#infos {
  border: 1px solid;
}

.info {
  text-align: center;
  padding: 50px 0;
}

/** FOOTER **/

#footer {
  background-color: #222;
  padding: 50px 0;
}

/** EMPRESA HISTORIA **/

#empresa, #historia {
  padding: 100px 0;
}

/** BLOCO UNIDADES **/

#bloco-unidades {
  margin-top: 70px;
  padding: 100px 0;
}

.bloco-unidade {
    padding: 50px 0;
 }


.row-reset {
  margin: 0 !important;
}
/****************/
.dropdown-item {
  font-weight: 300 !important;
}

.responsive-video {
  padding-bottom: 56%;
}

.resposive-video source {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#form-contato input::placeholder, #form-contato textarea::placeholder {
  font-weight: 300;
}

/** INSTAFEED **/

.instaimg img {margin-bottom:30px;}
.instaimg img:hover {
	opacity:0.8;
	-moz-opacity:0.8;
	-webkit-opacity:0.8;
}
